<h2>Companies</h2>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
<ul class="companies">
    <li *ngFor="let company of companies"
        [class.selected]="company === selectedCompany"
        (click)="onSelect(company)">
        <div class="title">
            <span class="badge">{{company.id}}</span> {{company.name}}<span class="right-item">&#x25BC;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div *ngIf="company == selectedCompany">
            <!--This should somehow be pulled from the company Detail component-->
            <ul class="companyDetails">
                <li>
                    <span class="left-item">ID: </span>
                    <span class="right-item">{{company.id}}</span><br />
                </li>
                <li>
                    <span class="left-item">Name: </span>
                    <span class="right-item">{{company.name}}</span><br />
                </li>
                <li>
                    <span class="left-item">CVR: </span>
                    <span class="right-item">{{company.cvr}}</span><br />
                </li>
                <li>
                    <span class="left-item">Address: </span>
                    <span class="right-item">{{company.address}}</span><br />
                </li>
                <li>
                    <span class="left-item">city: </span>
                    <span class="right-item">{{company.city}}</span><br />
                </li>
                <li>
                    <span class="left-item">country: </span>
                    <span class="right-item">{{company.country}}</span><br />
                </li>
                <li>
                    <span class="left-item">phone: </span>
                    <span class="right-item">{{company.phone}}</span><br />
                </li>
            </ul>
        </div>
    </li>
</ul>

