New Company:
<input #newCompanyName>
<button (click)="addCompany(newCompanyName.value); newCompanyName.value=''">
    Add Company
</button>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

<h2>My Companies</h2>
<ul class="companies">
    <li *ngFor="let company of companies"
        [class.selected]="company === selectedCompany"
        (click)="onSelect(company)">
        <span class="badge">{{company.id}}</span> {{company.name}}
    </li>
</ul>
<div *ngIf="selectedCompany">
    <h2>
        {{selectedCompany.name | uppercase}} is current Company
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>
