<h2>Create </h2>

<!--<label>Name: </label><br />
<input [(ngModel)]="company.name" placeholder="CVR"><br />
<label>CVR: </label><br />
<input [(ngModel)]="company.cvr" placeholder="CVR"><br />
<label>Address:</label><br />
<input [(ngModel)]="company.address" placeholder="Address"><br />
<label>City: </label><br />
<input [(ngModel)]="company.city" placeholder="City"><br />
<label>Country:</label><br />
<input [(ngModel)]="company.country" placeholder="Country"><br />
<label>Phone:</label><br />
<input [(ngModel)]="company.phone" placeholder="Phone"><br />
<button (click)="createCompany(newName.value); newName.value=''">Create</button>-->
<button (click)="goBack()">Back</button>
