<h2>Create </h2>
<button (click)="goBack()">Back</button>

<div *ngIf(response)>
    Success!
</div>
<br />
<label>Name: </label><br />
<input #newCompanyName><br />
<label>CVR: </label><br />
<input #newCompanyCvr><br />
<label>Address:</label><br />
<input #newCompanyAddress><br />
<label>City: </label><br />
<input #newCompanyCity><br />
<label>Country:</label><br />
<input #newCompanyCountry><br />
<label>Phone:</label><br />
<input #newCompanyPhone><br />
<button (click)="createCompany(
                 newCompanyName.value,
                 newCompanyCvr.value,
                 newCompanyAddress.value,
                 newCompanyCity.value,
                 newCompanyCountry.value,
                 newCompanyPhone.value
                 );">Create</button>
